@font-face {
  font-family: Noto-Sans;
  src: url("../res/font/notosans/NotoSans-Regular.ttf");
}

@font-face {
  font-family: Noto-Sans;
  src: url("../res/font/notosans/NotoSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Noto-Sans;
  src: url("../res/font/notosans/NotoSans-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: Noto-Sans;
  src: url("../res/font/notosans/NotoSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

body {
  --text-color: #646464;
  --accent-color: #77cc1c;
  --shadow-color: #b2b2b2;

  font-family: Noto-Sans, sans-serif;
  color: var(--text-color);
  font-size: 3em;
  text-align: center;
  margin: 0;
}

img {
  max-width: 100%;
}

@mixin highlight {
  color: var(--accent-color);
}

.highlight {
  @include highlight;
}

.statistic {
  @include highlight;
}

@mixin inline($gutter: 15%) {
  margin-left: $gutter;
  margin-right: $gutter;
}

.inline {
  @include inline;
}

@mixin inverted {
  background-color: var(--accent-color);
  color: white;
}

.full-bleed {
  @include inverted;
  margin: 0;
}

.full-bleed .highlight {
  color: white;
  font-weight: bold;
}

.full-bleed > * {
  @include inline(15%); /* Larger gutters to focus attention */
}

@mixin spaced($spacing: 2em) {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.spaced {
  @include spaced;
}

.spaced + .spaced {
  padding-top: 0;
}

/*
 * Really, this is trying to select places where the background switches color
 * and ensure the above div has spacing on the bottom and the below div has
 * spacing on the bottom. However, CSS has no before/previous sibling selector,
 * so instead use this rule and manually ensure that inline and full bleed
 * sections alternate and are never doubled up.
 */
body > div.inline, div.full-bleed {
  @include spaced;
}

#hook {
  padding-top: 20%;
  padding-bottom: 5%;
}

#hook + * {
  padding-top: 0;
}

.flags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.flags + .flags {
  margin-top: 2em;
}

.flag {
  @include inverted;
  flex-grow: 2;
  max-width: 50%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-weight: bold;
  font-size: 0.75em;
}

.flag-empty {
  flex-grow: 1;
}

.flag-image {
  height: auto;
  max-width: 50%;
}

li {
  text-align: left;
  font-size: 0.8em;
}

li > .highlight {
  font-weight: bold;
}

a {
  color: var(--accent-color);
}

#grid {
  @include inline(5%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-center;
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
}

#grid > div {
  @include inverted;
  padding: 0.6em;
  margin: 0.2em;
  flex-shrink: 0;
  flex-basis: 25%;
  flex-grow: 1;
  max-width: 33%;
  height: auto;

  display: flex;
  align-items: center;
}

#ugly-fruit {
  background-image: url("../res/img/ugly_fruit.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 40%; /* height/width of image */
}

#ugly-fruit:hover {
  background-image: url("../res/img/ugly_fruit_sad.png");
}

#badges {
  @include inline(5%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 0.5em;
}

#badges div {
  width: 100%;
}

#badges img {
  width: 85%;
}

#badges p {
  font-weight: bold;
  font-style: italic;
}

#call-to-action {
  @include inline(10%);
  font-size: 0.8em;

  a:hover {
    color: var(--text-color);
  }
}

#social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#social > * {
  flex-basis: 20%;
  padding-left: 0.25em;
  padding-right: 0.25em;
  max-width: 20%;
  height: 50%;
}

#footer {
  text-align: left;
  font-size: 0.5em;
}

#footer > * {
  @include inline(5%);
}

.fine-print {
  font-size: 0.6em;
}

.fine-print a {
  color: white;
}

.social-btn {
  cursor: pointer;
}
